<!DOCTYPE=html>
<html>
<title><%= @cat.name %></title>
<body>
  <h1><%= @cat.name %></h1>
  <br>
  <h2>Attributes</h2>
  <ul>
    <li>Sex: <%= @cat.sex %></li>
    <li>Color: <%= @cat.color %></li>
    <li>Age: <%= @cat.age %></li>
    <li>Birthday: <%= @cat.birth_date %></li>
  </ul>
  <p><%= @cat.description %></p>

  <%= button_to "Edit #{@cat.name}", edit_cat_url(@cat), method: :get %>

  <br>
  <h2>Existing Requests</h2>
  <% @cat.cat_rental_requests.order(:start_date).each do |request| %>
    <p><%= request.start_date %> - <%= request.end_date %>
      <% if request.pending? %>
        <%= button_to "Approve", { id: request.cat_id, method: :approve! } %>
        <%= button_to "Deny", { id: request.cat_id, method: :deny! } %>
      <% end %>
    </p>
  <% end %>
</body>
</html>
